<div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
        <div>
            <div id="img-login" class="d-flex justify-content-center">
                <div class="brand_logo_container mb-2">
                    <img src="assets/img_logo.png" alt="Logo">
                </div>
            </div>
            <div style="margin-top: 50px;" class="d-flex justify-content-center">
                <!-- Inicializa el modelo de Angular -->
                <form method="post" (ngSubmit)="login()">
                    <div class="input-group mb-2">
                        <span id="input-login2" class="input-group-text rounded-0 bg-grey"><i class="bi bi-person"></i></span>
                        <input id="input-login" [(ngModel)]="credenciales.login" name="usuario" class="form-control input-lg rounded-0" placeholder="Usuario">
                    </div>

                    <div class="input-group mb-2">
                        <span id="input-login2" class="input-group-text rounded-0 bg-grey"><i class="bi bi-key"></i></span>
                        <input id="input-login" [(ngModel)]="credenciales.pass" type="password" name="password" class="form-control input-lg rounded-0" placeholder="Contraseña">
                    </div>
                    <div class="mb-2">
                        <span class="text-danger" *ngIf="errorInicioSesion">No se ha podido iniciar sesión</span>
                    </div>
                    <!-- TODO Mensaje de error -->
                    <div class="d-flex justify-content-center mt-3">            
                        <button id="btn-login" type="submit" name="submit" class="btn bg-primary text-white">Entrar</button>
                    </div>
                </form>
            </div>
        </div>       
    </div>
</div>

