<div class="row">
    <div class="col mb-1">

        <!-- Filtro de búsquedas -->
        <app-filtro-busqueda 
                placeholder="Introduce el término de búsqueda"
                (onBusquedaEjecutada)="buscar($event)">
        </app-filtro-busqueda>

    </div>

    <!-- Botón para hacer las altas -->
    <button id="btn-crear" type="button" style="background-color: #333;" class="btn col-md-2 text-white mb-1" routerLink="../agregar">
        <i class='bx bx-add-to-queue' style='color:#FFFFFF' ></i> Crear
    </button>                                
</div>            
            

<!-- 
    Tabla con los resultados.
 -->
<app-tabla-videojuegos [videojuegos]="videojuegos" (onBorrar)="borrarVideojuego($event)"></app-tabla-videojuegos>
