<form (ngSubmit)="guardar()" [formGroup]="formulario" class="container" autocomplete="off">

    <div class="mx-auto">        

        <!-- Identificador del videojuego -->
        <input id="videojuegoId" name="videojuegoId" type="hidden" value="-1">

        <!-- Título de la incidencia. Es texto -->
        <div class="row">

            <div class="col-md-12 mb-3">
                <label for="titulo" class="form-label"><i class='bx bxs-edit-alt' style="color: #F0586F;"></i> Título</label>

                <!-- El título -->
                <input formControlName="titulo" type="text" class="form-control" [readonly]="actualizando">
                <span class="form-text text-danger" *ngIf="esCampoNoValido('titulo')">{{ mensajeErrorCampo('titulo') }}</span>
            </div>

        </div>
          
        <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">
            
            <!-- CAMPOS EN EL FORMULARIO -->
            <ng-container formGroupName="usuarioInformador">
                <div class="row" style="width: 100%;">

                    <!-- Informador. BUSQUEDA -->                
                    <label for="informadorDatalist" class="form-label"><i class='bx bxs-user-voice' style='color:#f0586f' ></i> Informador</label>
                    
                    <input 
                        id="informadorDatalist"
                        [formControl]="nombreInformador" 
                        name="informador" 
                        campo_validacion="informadorId" 
                        class="form-control" 
                        list="informadorDatalistOptions" 
                        placeholder="Type to search..."
                        
                        (input)="nombreInformadorInput($event)"
                        (change)="nombreInformadorChange($event)"
                        >
                    <input formControlName="id" type="hidden">
                    <div class="invalid-feedback"></div>                
                    <datalist id="informadorDatalistOptions">
                        <option *ngFor="let e of selectInformador">{{e.username}}</option>
                    </datalist>            
                </div>        
            </ng-container>

            <div class="row">

                <!-- Asignado. BUSQUEDA en tabla por nombre que muestre opciones -->
                <ng-container formGroupName="usuarioAsignado">                
                    <div class="col-md-5 mb-1">
                        <label for="asignado" class="form-label"><i class='bx bxs-user' style='color:#f0586f' ></i> Asignado</label>                                        
                        <select id="asignado" formControlName="id" class="form-select">
                            <option *ngFor="let u of selectAsignado" [value]="u.id">{{ u.username }}</option>
                        </select>                                    
                        <span class="form-text text-danger" *ngIf="esCampoNoValido('usuarioAsignado.id')">El usuario asignado no puede ser el mismo que el informador</span>
                    </div>
                </ng-container>
            </div>        
    
            <div class="row">
                <!-- Tipo. Combo AJAX -->
                <ng-container formGroupName="tipoVideojuego">                
                    <div class="col-md-5 mb-1">

                        <label for="tipo" class="form-label"><i class='bx bxs-grid-alt' style='color:#f0586f' ></i> Tipo</label>
                        <select id="tipo" formControlName="id" class="form-select">
                            <option *ngFor="let tt of selectTiposVideojuego" [value]="tt.id">{{ tt.nombre }}</option>
                        </select>                
                        <div class="invalid-feedback"></div>
        
                    </div>
                </ng-container>

                <!-- Estado. Combo AJAX. Depende del tipo -->
                <ng-container formGroupName="estadoTipoVideojuego">                                
                    <div class="col-md-5">

                        <label for="estado" class="form-label"><i class='bx bx-grid-alt' style='color:#f0586f' ></i> Estado</label>
                        <select id="estado" formControlName="id" class="form-select">
                            <option *ngFor="let e of selectEstadosVideojuego" [value]="e.id">{{ e.nombre }}</option>                        
                        </select>                
                        <div class="invalid-feedback"></div>
                    </div>
                </ng-container>
            </div>        
    
            <div class="row">
                <!-- Fecha de alta. Por omisión. El día en que se da de alta -->
                <div class="col-md-3 mb-1">
                    <label for="fechaalta" class="form-label"><i class='bx bxs-calendar' style='color:#f0586f' ></i> Fecha alta</label>
                    <input formControlName="fechaAlta" type="date" class="form-control">
                </div>
    
                <!-- Fecha vencimiento. La escoge el usuario -->
                <div class="col-md-3">
                    <label for="fechavencimiento" class="form-label"><i class='bx bxs-time' style='color:#f0586f' ></i>Fecha vencimiento</label>
                    <input formControlName="fechaVencimiento" type="date" class="form-control">
                </div>
    
                <!-- Hora vencimiento. La escoge el usuario -->
                <!--<div class="col-md-4">
                    <label for="horavencimiento" class="form-label">Hora vencimiento</label>
                    <input formControlName="horaVencimiento" type="time" class="form-control">
                </div>-->
            </div>        
            
            <!-- Descripción -->
            <div class="row">
                <div class="col-md-12 mb-1">
                    <label for="descripcion" class="form-label"><i class='bx bxs-message-rounded-dots' style='color:#f0586f' ></i> Descripción</label>
                    <textarea formControlName="descripcion" class="form-control" rows="2"></textarea>
                    <span class="form-text text-danger" *ngIf="esCampoNoValido('descripcion')">{{ mensajeErrorCampo('descripcion') }}</span>
                </div>
            </div>        

        </div> 

    </div>

</form>    

<hr>

<!-- Botones de navegación -->
<div class="row ">
    <span class="col-7"></span>
    <button id="btn-volver" style="background-color: #333; color: white;" class="btn col-2 m-3" routerLink="/videojuegos"><i class='bx bx-left-arrow-circle' style='color:#fdfdfd'  ></i> Volver</button>
    
    <!-- Desabilita el guardar si hay una operación en curso -->
    <button style="background-color: #f0586f; color: white;" class="btn col-2 m-3" (click)="guardar()" [disabled]="formulario.pending"><i class='bx bxs-save' style='color:#FFFFFF' ></i> Guardar</button>
</div>

<footer class="py-3" style="background-color: #333;">
    <div class="container">
    <p class="m-0 text-center text-white" style=" font-style: italic;"><img src="../../../../assets/img_logo.png" alt="Logo" style="width: 40px; height: 40px;"> DWEC | Gestor de videojuegos | <span class="subrayado" style="font-style: normal; color: crimson;">©2022</span></p>
    </div>
</footer>