<!-- Aquí está la tabla donde se van a insetar los resultados -->
<table class="table table-bordered table-striped text-center table-light table-hover align-items-center">

    <!-- Encabezado de la tabla -->
    <thead class="table text-white" style="background-color: #333;">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Título</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Vencimiento</th>
            <th scope="col">Hora Vencimiento</th>
            <th scope="col"></th> <!-- Mostrar detalles -->
            <th scope="col"></th> <!-- Editar -->
            <th scope="col"></th> <!-- Eliminar tarea -->
        </tr>
    </thead>
    
    <!-- 
        Cuerpo de la tabla. Aquí es donde se van a insertar las videojuegos
     -->
    <tbody>
        <tr *ngFor="let videojuego of videojuegos; let i = index">
            <td>{{ videojuego.id }}</td>
            <td>{{ videojuego.titulo }}</td>
            <td>{{ videojuego.tipoVideojuego.nombre }}</td>
            <td>{{ videojuego.estadoTipoVideojuego.nombre }}</td>
            <td>{{ videojuego.descripcion }}</td>
            <td>{{ videojuego.fechaVencimiento | date }}</td>
            <td>
                <!-- Enlace a ver la videojuego -->
                <i [routerLink]="['../ver', videojuego.id ]" class="btn btn-success bi bi-eye"></i>
            </td>                
            <td>
                <!-- Enlace a la edición de la videojuego -->                                
                <i [routerLink]="['../editar', videojuego.id ]" class="btn btn-warning bi bi-pencil"></i>
            </td>    
            <td>
                <!-- Eliminar la videojuego -->
                <i (click)="borrarVideojuego(i)" class="btn btn-danger bi bi-trash"></i>
            </td>
        </tr>        
    </tbody>
</table>

<footer id="footer-videojuegos" class="py-3" style="background-color: #333;">
    <div class="container">
    <p class="m-0 text-center text-white" style=" font-style: italic;"><img src="../../../../assets/img_logo.png" alt="Logo" style="width: 40px; height: 40px;"> DWEC | Gestor de videojuegos | <span class="subrayado" style="font-style: normal; color: crimson;">©2022</span></p>
    </div>
</footer>
